
.title-card {
  max-width: 300px;
}

.container {
  justify-content: flex-start;
}

.skill-icon {
  font-size: 4rem;
  margin-right: 2rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.read-more {
  display: flex;
}

.article-date {
}

.article-info {
  padding: 8px 8px 0;
}
