<div class="container">
  <mat-card class="title-card" [routerLink]="'/js/async-javascript'">
    <mat-card-header class="article-card-header">
      <div class="dflex">
        <i class="fab fa-js-square skill-icon"></i>
        <h1 class="card-header">Asynchronous JavaScript</h1>
      </div>
    </mat-card-header>
    <mat-card-content>
      <p class="article-info">
        Do you really know when your asynchronous JavaScript code executes? I've seen even the most seasoned developer
        trip up every once in a while. Don't be embarrassed...read more to find out and never be afraid of async again!
      </p>
    </mat-card-content>
    <div class="footer">
      <mat-chip-list><mat-chip selected color="accent">6/16/2020</mat-chip> </mat-chip-list>
      <div class="read-more">
        Read More&nbsp;&nbsp;<mat-icon>arrow_right_alt</mat-icon>
      </div>
    </div>
  </mat-card>
</div>

