<div class="container">
  <mat-card class="worm-card">
    <mat-card-header class="justify-between">
      <i class="fab fa-js-square header-icon"></i>
      <h1 class="card-titles">
        Asynchronous JavaScript
      </h1>
      <div class="fill-remaining-space"></div>
      <mat-chip-list>
        <mat-chip selected color="accent">6/16/2020</mat-chip>
      </mat-chip-list>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <section>
        <h2>Asynchronicity is the backbone of how modern web applications work...yet JavaScript is:</h2>
        <mat-list class="worm-list">
          <mat-list-item><strong>Single Threaded</strong>&nbsp;- executes one line at a time</mat-list-item>
          <mat-list-item><strong>Synchronous in nature</strong>&nbsp;- executes code in the order it appears
          </mat-list-item>
        </mat-list>

        <h2>JavaScript Under the Hood:</h2>
        <mat-list class="worm-list">
          <mat-list-item>1) Thread of Execution</mat-list-item>
          <mat-list-item>2) Memory</mat-list-item>
          <mat-list-item>3) Call Stack</mat-list-item>

        </mat-list>
        <p>
          So what happens if we have a task that is accessing Twitter that takes a long time?
          What if we have code we want to run in the meantime? When will everything execute?
        </p>
      </section>

      <worm-example-one></worm-example-one>

      <worm-example-two></worm-example-two>

      <section>
        <h2>What the heck? That doesn't make sense...I thought JavaScript executed code in the order it appears...</h2>
        <p>
          JavaScript is not enough...we need add some more components to our three from above:
        </p>
        <mat-list class="worm-list">
          <mat-list-item>
            <strong>1) Web Browser</strong>&nbsp;- JavaScript plus more:
          </mat-list-item>
          <mat-list-item class="indented-list-item">
            Network Requests (Fetch, XHR)
          </mat-list-item>
          <mat-list-item class="indented-list-item">
            DOM (document)
          </mat-list-item>
          <mat-list-item class="indented-list-item">
            Local Storage & Session Storage (localStorage, sessionStorage)
          </mat-list-item>
          <mat-list-item class="indented-list-item">
            Timer (setTimeout)
          </mat-list-item>
          <mat-list-item class="indented-list-item">
            Others browser features include dev tools, console, sockets
          </mat-list-item>
          <mat-list-item><strong>2) Promises</strong></mat-list-item>
          <mat-list-item class="indented-list-item">
            1) Begin some brower work in the bacgound
          </mat-list-item>
          <mat-list-item class="indented-list-item">
            2) Immediately returns a placeholder object (promise) in JavaScript
          </mat-list-item>
          <mat-list-item><strong>3) Event Loop</strong></mat-list-item>
          <mat-list-item><strong>4) Task Queue</strong></mat-list-item>
          <mat-list-item><strong>5) Micro Task Queue</strong></mat-list-item>
        </mat-list>

      </section>

      <worm-example-three></worm-example-three>

      <worm-example-four></worm-example-four>

      <worm-example-five></worm-example-five>

    </mat-card-content>
  </mat-card>
</div>
